POSTGRES_DB=shop
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

MONGO_INITDB_DATABASE=replica
MONGO_PORT=27017

APP_ENV=development
PYTHONUNBUFFERED=1
LOG_LEVEL=INFO

WORKER_MODE=cron
SYNC_ON_START=true
SYNC_INTERVAL_SECONDS=60
SYNC_CRON=*/2 * * * *
BATCH_SIZE=1000
SYNC_JOB_ID=postgres_to_mongo

STATE_BACKEND=mongo
STATE_COLLECTION=sync_state
CUSTOMERS_COLLECTION=customers

SEED_CUSTOMERS=100000
SEED_PRODUCTS=500
SEED_ORDERS=500000
SEED_BATCH_SIZE=5000
SEED_MAX_PRODUCTS_PER_ORDER=3
SEED_SOFT_DELETE_RATIO=0.01
